{% extends "base.html" %}

{% block page_header %}
  <h1>Stands</h1>
{% endblock page_header %}

{% block content %}

<h3><a href="{% url 'stands:new_stand' %}">Add a new Stand</a></h3>

  <ul>
    {% for stand in stands %}
      <li>
        <h3>
          <a href="{% url 'stands:stand' stand.id %}">{{ stand.s_name }}</a>
          <a href="{% url 'stands:edit_stand' stand.id %}">Edit</a>
        </h3>
      </li>
    {% empty %}
      <li><h3>No Stand have been added yet.</h3></li>
    {% endfor %}
  </ul>

{% endblock content %}