{% extends "base.html" %}

{% block page_header %}

  <h1>Stands</h1>

  {% if user.is_authenticated %}
    <a class="btn bg-parent p-3 shadow border border-light text-nowrap" href="{% url 'stands:new_stand' %}">Add a new Stand</a>
  {% else %}
    <a class="btn bg-parent p-3 shadow border border-light text-nowrap disabled" href="{% url 'stands:new_stand' %}">Add a new Stand</a>
  {% endif %}

{% endblock page_header %}

{% block content %}

{% for stand in stands %}

<div class="d-grid gap-2 col-6 mx-auto">
  <div d-flex>
    <a
      style="width: 150px"
      href="{% url 'stands:stand' stand.id %}"
      class="btn shadow p-2 mb-3 border border-3 text-black"
      >{{ stand.s_name }}</a
    >

    {% if user.is_authenticated %}
    <a
      style="background-color: rgb(8, 124, 153)"
      href="{% url 'stands:edit_stand' stand.id %}"
      class="btn shadow p-2 mb-3 border rounded-pill border-3 text-white"
      >Edit</a
    >

    <a
      style="background-color: rgb(184, 16, 16)"
      href="{% url 'stands:edit_stand' stand.id %}"
      class="btn shadow p-2 mb-3 border rounded-pill border-3 text-white"
      >Delete</a>

    {% else %}
    <a
      style="background-color: rgb(8, 124, 153)"
      href="{% url 'stands:edit_stand' stand.id %}"
      class="btn shadow p-2 mb-3 border rounded-pill border-3 text-white disabled"
      >Edit</a
    >

    <a
      style="background-color: rgb(184, 16, 16)"
      href="{% url 'stands:edit_stand' stand.id %}"
      class="btn shadow p-2 mb-3 border rounded-pill border-3 text-white disabled"
      >Delete</a
    >

    {% endif %}
  </div>
</div>

{% empty %}
<li><h3>No Stand have been added yet.</h3></li>
{% endfor %} {% endblock content %}
