{% load static %}
{% load bootstrap5 %}

<!doctype html>
<html lang="en">
<head>

  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <link rel="icon" type="image/png" href="{% static 'images/bus.png' %}">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
  <title>Dhakar Bus</title>

</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #370b8a;"">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'findBus' %}">Dhakar Bus</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'findBus' %}">Find Bus</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'buses' %}">Buses</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'stands:stands' %}">Stands</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="{% url 'stands:areas' %}">Areas</a>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Manage BusFinder
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'manage:manage' %}">Manage</a>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'manage:suggestions' %}">Suggestions</a>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Others</a></li>
            </ul>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About Us</a>
          </li>


        </ul>


        <div class="d-flex">

          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <span class="nav-link">Hello, {{user.username}}</span>
              </li>

              
    
              <li class="nav-item">

                <form action="{% url 'accounts:logout' %}" method='post'>
                  {% csrf_token %}
                  <button class="nav-link button btn-danger" name='submit'>Log out</button>
                </form>
                
              </li>

            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:login' %}">
                <button style="color:#370b8a;" type="button" class="btn btn-outline-light">Login As ADMIN</button>
              </a>
            </li>
            {% endif %}
          </ul>
          
        </div>


      </div>
    </div>
  </nav>


  <div class="d-flex m-3 shadow-lg p-3 mb-5 bg-body-tertiary rounded align-item-center justify-content-between" style="background-color: #51d7db">

    {% block page_header %}
    
    {% endblock page_header %}

  </div>


  <div class="m-sm-1 m-md-2 m-lg-3 p-sm-1 p-md-2 p-lg-3 shadow-lg p-2 mt-5 mb-5 align-item-center justify-content-center bg-body-tertiary rounded">

    {% block content %}{% endblock content %}

  </div>


  <div class="m-3 shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="background-color: #51d7db">

    <footer class="text-center text-lg-start">
<!-- Grid container -->
<div class="container p-4 pb-0">
<!-- Section: Links -->
<section class="">
  <!--Grid row-->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
      <h6 class="text-uppercase mb-4 font-weight-bold">
        Dhakar Bus
      </h6>
      <p>
        Here you can use 'Dhakar Bus' site to find and know about buses go through diffrent Bus-Stops at Dhaka City and nearby places.

        You are welcome and requested to provide correction suggestion through the site if found anything wrong.
      </p>
    </div>
    <!-- Grid column -->

    <hr class="w-100 clearfix d-md-none" />

    <!-- Grid column -->
    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
      <h6 class="text-uppercase mb-4 font-weight-bold">Navigations</h6>
      <p>
        <a href={% url 'findBus' %} class="text-white">Find Bus</a>
      </p>
      <p>
        <a href={% url 'buses' %} class="text-white">Buses</a>
      </p>
      <p>
        <a href={% url 'stands:stands' %} class="text-white">Bus Stands</a>
      </p>
      <p>
        <a href={% url 'stands:areas' %} class="text-white">Areas</a>
      </p>
      
      <p>
        <a href={% url 'about' %} class="text-white">About Us</a>
      </p>
    </div>
    <!-- Grid column -->

    <hr class="w-100 clearfix d-md-none" />

    <!-- Grid column -->
    <hr class="w-100 clearfix d-md-none" />

    <!-- Grid column -->
    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
      <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
      <p><i class="fas fa-home mr-3"></i> Dhaka, Bangladesh</p>
      <p><i class="fas fa-envelope mr-3"></i> ratin.cse@gmail.com</p>
      <p><i class="fas fa-phone mr-3"></i> +880 1747264587</p>
      <p><i class="fas fa-phone mr-3"></i> +880 1540209460</p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
      <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

      <!-- Facebook -->
      <a
         class="btn btn-primary btn-floating m-1"
         style="background-color: #3b5998"
         href="https://www.facebook.com/mehrab.ratin.3"
         role="button"
         ><i class="fab fa-facebook-f"></i
        ></a>

      <!-- Twitter -->
      <a
         class="btn btn-primary btn-floating m-1"
         style="background-color: #55acee"
         href="#!"
         role="button"
         ><i class="fab fa-twitter"></i
        ></a>

      <!-- Google -->
      <a
         class="btn btn-primary btn-floating m-1"
         style="background-color: #dd4b39"
         href="#!"
         role="button"
         ><i class="fab fa-google"></i
        ></a>

      <!-- Discord -->
      <a
         class="btn btn-primary btn-floating m-1"
         style="background-color: #dd4b39"
         href="#!"
         role="button"
         ><i class="fab fa-youtube"></i
        ></a>

      <!-- Linkedin -->
      <a
         class="btn btn-primary btn-floating m-1"
         style="background-color: #0082ca"
         href="https://www.linkedin.com/in/mehrab-rabbi-ratin/"
         role="button"
         ><i class="fab fa-linkedin-in"></i
        ></a>
      <!-- Github -->
      <a
         class="btn btn-primary btn-floating m-1"
         style="background-color: #333333"
         href="https://github.com/ratin17"
         role="button"
         ><i class="fab fa-github"></i></a>
    </div>
  </div>
  <!--Grid row-->
</section>
<!-- Section: Links -->
</div>
<!-- Grid container -->

<!-- Copyright -->
<div
   class="text-center p-3"
   style="background-color: rgba(0, 0, 0, 0.2)"
   >
© 2024 Copyright:
<a class="text-white" href=#"
   >ratin.cse@gmail.com</a
  >
</div>
<!-- Copyright -->
</footer>
      
  </div>

  


</body>

</html>