{% extends "base.html" %} {% block page_header %}

<h1>{{ bus.b_name }}</h1>

{% if user.is_authenticated %}
<a
  class="btn bg-parent p-3 shadow border border-light text-nowrap"
  href="{% url 'edit_bus' bus.id %}"
  >Edit Stand</a
>
{% else %}
<a
  class="btn bg-parent p-3 shadow border border-light text-nowrap disabled"
  href="{% url 'edit_bus' bus.id %}"
  >Edit Stand</a
>
{% endif %} {% endblock page_header %} {% block content %}

<div class="card text-center">
  <div class="card-header">Featured</div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">
      With supporting text below as a natural lead-in to additional content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-body-secondary">2 days ago</div>
</div>

{% for stand in stands %}

<div class="d-grid gap-2 col-sm-12 col-md-6 mx-auto">
  <div d-flex>
    <button class="btn shadow p-2 mb-2 mt-1 border border-3 text-black">
      {{ stand.0}}
    </button>

    <a
      style="width: 150px"
      href="{% url 'stands:stand' stand.0 %}"
      class="btn shadow p-2 mb-2 mt-1 border border-3 text-black"
      >{{ stand.1.s_name }}</a
    >

    {% if user.is_authenticated %}
    <a
      style="background-color: rgb(8, 124, 153)"
      href="{% url 'stands:edit_stand' stand.0 %}"
      class="btn shadow p-2 mb-2 mt-1 border rounded-pill border-3 text-white"
      >Edit</a
    >

    <a
      style="background-color: rgb(184, 16, 16)"
      href="{% url 'stands:edit_stand' stand.0 %}"
      class="btn shadow p-2 mb-2 mt-1 border rounded-pill border-3 text-white"
      >Delete</a
    >

    {% else %}
    <a
      style="background-color: rgb(8, 124, 153)"
      class="btn shadow p-2 mb-2 mt-1 border rounded-pill border-3 text-white"
      >Edit</a
    >

    <a
      style="background-color: rgb(184, 16, 16)"
      class="btn shadow p-2 mb-2 mt-1 border rounded-pill border-3 text-white"
      >Delete</a
    >

    {% endif %}
  </div>
</div>

{% empty %}
<li><h3>No Stand have been added yet.</h3></li>
{% endfor %} {% endblock content %}
