{% extends "base.html" %}

{% block page_header %}

  <h1>Buses</h1>

  <a class="btn bg-parent p-3 shadow border border-light d-flex justify-content-center align-items-center" href="{% url 'findBus' %}">Find Bus</a>


{% endblock page_header %}

<!-- Block Section -->
{% block content %}

  <div class="card text-center">
    <div class="card-header">Bus List</div>
    <div class="card-body">
      <h4 class="card-title">See Buses in List and provide suggestions if anything wrong found</h4> 
    </div>
  </div>

  <div class="container col-12 col-sm-12 col-md-12 col-lg-10 text-center">
    
    <div class="row">

      <a style="background-color: rgb(28, 8, 141);" class="col gy-3 col-5 col-sm-5 col-md-2 col-lg-2 btn shadow border text-white d-flex justify-content-center align-items-center"><b>Bus</b></a>

      <a style="background-color: rgb(28, 8, 141);" class="col gy-3 col-3 col-sm-3 col-md-2 col-lg-2 btn shadow border text-white d-flex justify-content-center align-items-center"><b>From</b></a>

      <a class="col gy-3 col-1 col-sm-1 col-md-1 col-lg-1 btn text-white d-flex justify-content-center align-items-center"></a>

      <a style="background-color: rgb(28, 8, 141);" class="col gy-3 col-3 col-sm-3 col-md-2 col-lg-2 btn shadow border text-white d-flex justify-content-center align-items-center"><b>To</b></a>

      <a style="background-color: rgb(28, 8, 141);" class="col gy-3 col-12 col-sm-12 col-md-5 col-lg-5 btn shadow border text-white d-flex justify-content-center align-items-center"><b>Actions</b></a>

    </div>

    {% for bus in buses %}
    <div class="row">

      <a href="{% url 'bus' bus.obj.id %}" class="col gy-3 col-5 col-sm-5 col-md-2 col-lg-2 btn shadow border text-black d-flex justify-content-center align-items-center">{{ bus.obj.b_name }}</a>

      <a href="{% url 'bus' bus.obj.id %}" class="col gy-3 col-3 col-sm-3 col-md-2 col-lg-2 btn shadow border text-black d-flex justify-content-center align-items-center">{{ bus.from }}</a>

      <a class="col gy-3 col-1 col-sm-1 col-md-1 col-lg-1 btn text-black d-flex justify-content-center align-items-center"><i class="fas fa-arrow-left"></i><i class="fas fa-arrow-right"></i></a>

      <a href="{% url 'bus' bus.obj.id %}" class="col gy-3 col-3 col-sm-3 col-md-2 col-lg-2 btn shadow border text-black d-flex justify-content-center align-items-center">{{ bus.to }}</a>  

      {% if user.is_authenticated %}

        <a href="{% url 'suggest_bus' bus.obj.id %}" class="col gy-3 col-6 col-sm-6 col-md-3 col-lg-3 btn bg-warning text-white rounded-pill shadow d-flex justify-content-center align-items-center">Suggest Correction</a>

        <a href="{% url 'edit_bus' bus.obj.id %}" class="col gy-3 col-3 col-sm-3 col-md-1 col-lg-1 btn bg-warning text-white rounded-pill shadow d-flex justify-content-center align-items-center">_Edit</a>

        <a href="{% url 'edit_bus' bus.obj.id %}" class="col gy-3 col-3 col-sm-3 col-md-1 col-lg-1 btn bg-danger text-white rounded-pill shadow d-flex justify-content-center align-items-center">_Delete</a>

      {% else %}
        <a style="background-color: rgb(204, 174, 243);" href="{% url 'suggest_bus' bus.obj.id %}" class="col gy-3 col-8 col-sm-8 col-md-3 col-lg-3 btn text-black rounded-pill shadow d-flex justify-content-center align-items-center">Suggest Correction</a>

        <a style="background-color: rgba(198, 219, 6, 0.966);" class="col gy-3 col-2 col-sm-2 col-md-1 col-lg-1 btn text-white text-center rounded-pill shadow d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-edit text-center"></i></a>

        <a style="background-color: rgba(241, 20, 131, 0.966);" class="col gy-3 col-2 col-sm-2 col-md-1 col-lg-1 btn text-white rounded-pill shadow d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-trash"></i></a>
      
      {% endif %}

    </div>

    {% empty %}
      <h3>No Bus have been added yet !</h3>
    {% endfor %}

  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-exclamation-triangle mx-2"></i>Login Required</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          You Must log in as an Admin to complete this Action !
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
