{% extends "base.html" %}

{% block page_header %}

  <h3>About</h3>
  
  <a class="btn bg-parent p-3 shadow border border-light text-nowrap" href="{% url 'findBus'  %}" >Find Bus</a>
  

{% endblock page_header %}



<!-- Block Section -->
{% block content %}

  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#aboutdb" aria-controls="aboutdb">About Dhakar Bus</button>

  <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="aboutdb" aria-labelledby="aboutdbLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="aboutdbLabel">About Dhakar Bus</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <p>
        Here you can use 'Dhakar Bus' site to find and know about buses go through diffrent Bus-Stops at Dhaka City and nearby    places.You are welcome and requested to provide correction suggestion through the site if found anything wrong.
      </p>
    </div>
  </div>

  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#aboutme" aria-controls="aboutme">About Me</button>

  <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="aboutme" aria-labelledby="aboutmeLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="aboutmeLabel">About Me</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <p>
        Hello, I am Mehrab Rabbi Ratin !
      </p>
    </div>
  </div>

{% endblock content %}




