{% extends "base.html" %} {% block page_header %}
<h1>Find Bus</h1>
{% endblock page_header %}
{% block content %}


  <div class="bg-gradient bg-white">

    <form method="post"  action="{% url 'findBus' %}">

      {% csrf_token %}

      <div class="d-grid justify-content-center align-item-center text-center">

        <button class="btn btn-lg btn-outline-secondary mb-3 btn-block disabled d-flex justify-content-center align-items-center">
          <span class="spinner-grow text-success spinner-grow-sm mx-2" aria-hidden="true"></span>
          Select Bus Stands to FindBus
        </button>

        <div data-mdb-input-init class="form-outline mb-4">
          <label style="width: 50px;" class="form-label" for="{{ form.dept.id_for_label }}">{{ form.dept.label }}</label>
          {{ form.dept }}
        </div>
      
        <div data-mdb-input-init class="form-outline mb-4">
          <label style="width: 50px;" class="form-label" for="{{ form.dest.id_for_label }}">{{ form.dest.label }}</label>
          {{ form.dest }}
          
        </div>
      
        <!-- Submit button -->
        <button style="background-image: linear-gradient(rgb(221, 50, 144),rgb(78, 94, 235));" type="submit" class="btn btl-lg text-white btn-block"><b>Find Bus</b></button>
        
        
        <marquee style="background-image: linear-gradient(rgb(223, 96, 22),rgb(189, 69, 236));" class="my-2 bg-danger text-white" >Sometimes it might take a few seconds to provide search results</marquee>

      </div>
      
    </form>

  </div>

  




{% endblock content %}
