{% extends "base.html" %}

{% block page_header %}

  <h3>{{ headline }}</h3>
  
  <a class="btn bg-parent p-3 shadow border border-light text-nowrap" href="{% url 'findBus'  %}" >Find Bus</a>
  

{% endblock page_header %}



<!-- Block Section -->
{% block content %}

    <div class="card text-center">
      <div class="card-header">{{ suggestion }}</div>
      <div class="card-body">
          <h2>
              <button class="btn btn-danger text-red"><i class="fas fa-exclamation-triangle"></i> Error</button>
          </h2>
          <p></p>
          <a href="{% url 'findBus'  %}" class="btn bg-parent btn-success border border-3 border-light shadow-lg">Find Bus</a>
      </div>
    </div>


{% endblock content %}




