{% extends "base.html" %}

{% block page_header %}

  <h3>Suggestions for {{ bus.b_name }}</h3>
  
  <a class="btn bg-parent p-3 shadow border border-light text-nowrap" href="{% url 'bus' bus.id  %}" >Cancel</a>
  

{% endblock page_header %}



<!-- Block Section -->
{% block content %}

  <div class="card text-center">
    <div class="card-header">Choose Suggestions from below or Send Custom Suggestion</div>
    <div class="card-body">
      <a style="background-color: rgb(9, 129, 119);"href="{% url 'suggest_custom' %}" class="btn border border-3 text-white border-light shadow-lg">Send Custom Suggestion</a>
    </div>
  </div>



  <div class="container col-12 col-sm-10 col-md-10 col-lg-10 text-center">

    <div class="row gx-2">
        <button class="col gy-3 col-12 btn btn-secondary shadow border text-white text-center">Bus info Related Suggestions</button>
    </div>

    <div class="row gx-2">
        <button class="col gy-3 col-10 col-sm-10 btn shadow border text-black text-center">{{ bus.b_name }} is not seen in the roads anymore !</button>
        <a href="{% url 'feedback_success' bus.b_name|add:" is not seen in the roads anymore !" bus.b_name %}" class="col gy-3 col-2 col-sm-2 btn shadow border text-black d-flex justify-content-center align-items-center">Send</a>
    </div>


    <div class="row gx-2">
        <button class="col gy-3 col-10 col-sm-10 btn shadow border text-black text-center">Bus Servive ( {{ bus.service }} ) is Incorrect !</button>
        <a href="{% url 'feedback_success' "Bus Servive ( "|add:bus.service|add:" ) is Incorrect !" bus.b_name %}" class="col gy-3 col-2 col-sm-2 btn shadow border text-black d-flex justify-content-center align-items-center">Send</a>
    </div>


    <div class="row gx-2">
      <button class="col gy-3 col-10 col-sm-10 btn shadow border text-black text-center">Rating of Bus ( {{ bus.b_name }} ) should be higher than {{ bus.rating }}</button>
      {% with rating=bus.rating|stringformat:"d" %}
      <a href="{% url 'feedback_success' 'Rating of Bus ('|add:bus.b_name|add:') should be higher than '|add:rating bus.b_name %}" class="col gy-3 col-2 col-sm-2 btn shadow border text-black d-flex justify-content-center align-items-center">Send</a>
      {% endwith %}
    </div>

    <div class="row gx-2">
      <button class="col gy-3 col-10 col-sm-10 btn shadow border text-black text-center">Rating of Bus ( {{ bus.b_name }} ) should be lower than {{ bus.rating }}</button>
      {% with rating=bus.rating|stringformat:"d" %}
      <a href="{% url 'feedback_success' 'Rating of Bus ('|add:bus.b_name|add:') should be lower than '|add:rating bus.b_name %}" class="col gy-3 col-2 col-sm-2 btn shadow border text-black d-flex justify-content-center align-items-center">Send</a>
      {% endwith %}
    </div>


    <div class="row gx-2">
      <button class="col gy-3 col-12 btn btn-secondary shadow border text-white text-center">Bus stands Related Suggestions</button>
    </div>

    {% for stand in stands %}
      
      <div class="row gx-2">
        <button class="col gy-3 col-10 col-sm-10 btn shadow border text-black text-center">{{ bus.b_name }} doesn't go through {{stand.s_name }}</button>
        <a href="{% url 'feedback_success' bus.b_name|add:"  doesn't go through "|add:stand.s_name bus.b_name %}" class="col gy-3 col-2 col-sm-2 btn shadow border text-black d-flex justify-content-center align-items-center">Send</a>
      </div>

    {% endfor %}


    
  </div>

{% endblock content %}




