{% extends "base.html" %}

{% block page_header %}

  <h3>Suggestion for {{ bus.b_name }} at {{ stand.s_name }}</h3>
  
  <a class="btn bg-parent p-3 shadow border border-light text-nowrap" href="{% url 'bus' bus.id  %}" >Cancel</a>
  

{% endblock page_header %}



<!-- Block Section -->
{% block content %}

  <div class="card text-center">
    <div class="card-header">Choose Suggestions from below or Send Custom Suggestion</div>
    <div class="card-body">
      <a style="background-color: rgb(9, 129, 119);" href="{% url 'suggest_custom' %}" class="btn border border-3 border-light text-white shadow-lg">Send Custom Suggestion</a>
    </div>
  </div>



  <div class="container col-12 col-sm-10 col-md-10 col-lg-10 text-center">

    <div class="row gx-2">
        <button class="col gy-3 col-10 col-sm-10 btn shadow border text-black text-center">{{ bus.b_name}} Doesn't Go through {{ stand.s_name }} !</button>
        
        <a href="{% url 'feedback_success' bus.b_name|add:"Doesn't Go through "|add:stand.s_name|add:" !" bus.b_name  %}" class="col gy-3 col-2 col-sm-2 btn shadow border text-black d-flex justify-content-center align-items-center">Send</a>
    </div>


    <div class="row gx-2">
      <button class="col gy-3 col-10 col-sm-10 btn shadow border text-black text-center">{{ bus.b_name}} Goes through {{ stand.s_name }}, but order({{order}}) is not correct !</button>
      {% with order=order|stringformat:"d" %}
        <a href="{% url 'feedback_success' bus.b_name|add:" Goes through "|add:stand.s_name|add:", but order ( "|add:order|add:" ) is not correct !" bus.b_name %}" class="col gy-3 col-2 col-sm-2 btn shadow border text-black d-flex justify-content-center align-items-center">Send</a>
      {% endwith %}
    </div>

  </div>

{% endblock content %}




