{% extends "base.html" %}

{% block page_header %}

  <h3>Suggestions for {{ bus.b_name }}</h3>
  
  <a class="btn bg-parent p-3 shadow border border-light text-nowrap" href="{% url 'bus' bus.id  %}" >Cancel</a>
  

{% endblock page_header %}



<!-- Block Section -->
{% block content %}

  <div class="card text-center">
    <div class="card-header">Choose Suggestions from below or Send Custom Suggestion</div>
    <div class="card-body">
      <a href="{% url 'bus' bus.id  %}" class="btn bg-parent btn-success border border-3 border-light shadow-lg">Cancel Suggestion</a>
    </div>
  </div>



  <div class="container col-12 col-sm-10 col-md-10 col-lg-10 text-center">

    <div class="row gx-2">
        <button class="col gy-3 col-12 btn btn-secondary shadow border text-black text-center">Bus info Related Suggestions</button>
    </div>

    <div class="row gx-2">
        <button class="col gy-3 col-10 col-sm-10 btn shadow border text-black text-center">Bus Name ( {{ bus.b_name }} ) is Incorrect !</button>
        <a href="{% url 'feedback' bus.b_name|add:" is actually Incorrect !" "success" %}" class="col gy-3 col-2 col-sm-2 btn shadow border text-black d-flex justify-content-center align-items-center">Send</a>
        </div>


    <div class="row gx-2">
        <button class="col gy-3 col-10 col-sm-10 btn shadow border text-black text-center">Bus Servive is not ( {{ bus.service }} ) is Incorrect !</button>
        
        <a href="{% url 'create_suggestion' 4 bus.id 0 0 0 %}" class="col gy-3 col-2 col-sm-2 btn shadow border text-black d-flex justify-content-center align-items-center">Send</a>
    </div>




    <div class="row gx-2">
        <button class="col gy-3 col-10 col-sm-10 btn shadow border text-black text-center">{{ bus.b_name}} Goes through {{ stand.s_name }}, but order({{order}}) is not correct !</button>
        
        <a href="{% url 'create_suggestion' 4 bus.id 0 0 0 %}" class="col gy-3 col-2 col-sm-2 btn shadow border text-black d-flex justify-content-center align-items-center">Send</a>
    </div>

  </div>

{% endblock content %}




